---
 const personalImageAlt = "PacoCastle"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi! I'm Paco. I began programming professionally in 2011 through an internship program. What started as a curiosity quickly grew into a lifelong passion for technology and innovation <strong
        >I enjoy to work togheter cross-functional teams in Agile/Scrum environments, passionate about mentoring, DevOps, and delivering user-centered solutions that create real business impact. Always curious, always building</strong>.
    </p>

    <p>
      Passionate about contributing to innovative, user-centered solutions, I strive to deliver software that drives business success and provides real value to users<strong
        >You can found some intersting topics in my channel  <em class="italic">Learn and Create</em> in Youtube</strong
      >.
    </p>
  </div>

  <img width="200" height="200" src="/FotoPortfolioMe50.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

