---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "JUNE 2020 – PRESENT",
    title: "FULLSTACK SOFTWARE ENGINEER",
    company: "Santander Bank",
    description:
      "Build a cloud-based financial microservices platform using Spring Boot and .NET Core RESTful APIs, interactive Angular dashboards for real-time data visualization including designing and implementing CI/CD pipelines in AWS and Azure, ensuring secure and scalable systems for high-volume transactions",
    link: "https://linkedin.com/in/francisco-javier-castillo-arias-5479162b",
  },
  {
    date: "FEBRUARY 2017 – FEBRUARY 2020",
    title: "SOFTWARE ENGINEER",
    company: "VECTOR ITC GROUP",
    description:
      "I led the backend development of enterprise applications using C# .NET Web APIs, WCF services, and Spring Boot microservices, implementation of cloud file storage via AWS S3 and Azure Blob Storage improving scalability on the cloud services.",
      link: "https://linkedin.com/in/francisco-javier-castillo-arias-5479162b",
  },
  {
    date: "FEBRUARY 2016- FEBRUARY 2017",
    title: "SENIOR .NET DEVELOPER",
    company: "AGROASEMEX",
    description:
      "Modernization of legacy insurance systems, migrating them from VB.NET/ASP.NET/.Net Framework to .NET Core and refactored monolithic systems into modular components and transformed XML-based workflows into service-based integrations. I worked closely with DBAs to optimize SQL Server procedures, ensuring efficient and accurate data flows in the new architecture.",
      link: "https://linkedin.com/in/francisco-javier-castillo-arias-5479162b",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
