---
const personalImageAlt = "PacoCastle"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/FotoPerfil.PNG"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/francisco-javier-castillo-arias-5479162b"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Open To Work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    I'm Paco Castle
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +14 years of experiencia. <strong
      >Full Stack Software Engineer with over 14 years of experience designing and delivering enterprise-level applications across the finance, e-commerce, and insurance sectors. Expert in developing scalable RESTful microservices and cloud-native solutions using .NET Core, Java, Angular, and AWS/Azure.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:castillo-fj@hotmail.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/francisco-javier-castillo-arias-5479162b">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
